#dienstleistungen-wrapper {
  display: grid;
  margin: 10rem;
  /* max-width: 1400px; */
  /* background-color: rgba(0, 0, 0, 0); */
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  @media (width<900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.dienstleistungen-item {
  width: 100%;
  line-height: 1.5em;
  padding: 15px;
  background-color: bisque;
  border-radius: 5px;
}
.dienstleistungen-item > p {
  margin-block: 10px;
}
.dienstleistungen-p-call-to-action {
  font-weight: bold;
}
#dienstleistungen-h2 {
  text-align: center;
  grid-column: 1 / span 3;
  color: var("--text-hell");
  @media (width<900px) {
    grid-column: 1;
  }
}
