#dienstleistungen-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  background-color: rgba(0, 0, 0, 0);
  gap: 30px;
  justify-content: space-evenly;
}
.dienstleistungen-item {
  width: 100%;
  line-height: 1.5em;
  padding: 15px;
  background-color: bisque;
  border-radius: 5px;
}
.dienstleistungen-item > p {
  margin-block: 10px;
}
.dienstleistungen-p-call-to-action {
  font-weight: bold;
}
#dienstleistungen-h2 {
  text-align: center;
  grid-column: 1 / span 3;
  color: var("--text-hell");
  @media (width<900px) {
    grid-column: 1;
  }
}
