@import url("/css/dienstleistungen.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  margin: auto;
}
#body-wrapper {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}
