* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  margin: auto;
}
#body-wrapper {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

/* Schriften improtieren */
@import url(..fonts/);

/* Farben für Akzente */
:root {
  --akzentfarbe: #f5c118; /* um Beispielsweise besondere Dinge hervorzuheben */
  --akzentrahmen: #f5c118; /* um aktive Boxen oder Hover hervorzueheben */

  /*Farben für Sektionen*/
  --sektion-bg-lila: rgb(102, 49, 215);
  --sektion-bg-gelb: rgb(26, 26, 26);

  /*Farben für Texte*/
  --text-hell: #f4efff; /*bei dunklen Hintergründen*/
  --text-dunkel: rgb(35, 31, 45); /*bei hellen Hintergründen*/

  /*Hintergrund Background schwarz für Body*/
  --bg-body: rgb(0, 0, 0);

  /*Farben für Buttons*/
  --button-bg: rgb(239, 207, 27);
  --button-bg-hover: rgb(112, 11, 137);
  --button-text: rgb(14, 14, 14);
  --button-text-hover: rgb(255, 255, 255);
  --button-border: rgb(239, 207, 27);
  --button-border-hover: rgb(255, 0, 0);
}
